{% include 'index.html' %} {% block content %}
<h1>Add a product</h1>
<form action="/products" method="POST">
  <label for="productName">Product Name</label>
  <input type="text" id="productName" name="productName" />

  <label for="productPrice">Price (Unit)</label>
  <input type="number" id="productPrice" name="productPrice" />

  <label for="category">Select Category</label>
  <select name="category" id="category">
    <option value="fruit">fruit</option>
    <option value="vegetable">vegetable</option>
    <option value="dairy">dairy</option>
  </select>
  <button>Submit</button>
</form>
{% endblock %}
