{% include 'index.html' %} {% block content %}
<h1>Updating a product!</h1>
<form action="/product/{{ product._id }}?_m=PATCH" method="POST">
  <label for="productName">Product Name</label>
  <input
    type="text"
    id="productName"
    name="productName"
    value="{{ product.name }}"
  />

  <label for="productPrice">Price (Unit)</label>
  <input
    type="number"
    id="productPrice"
    name="productPrice"
    value="{{ product.price }}"
  />

  <label for="category">Select Category</label>
  <select name="category" id="category">
    {% for category in categories %} {% if category == product.category %}
    <option value="{{ category }}" selected>{{ category }}</option>
    {% else %}
    <option value="{{ category }}">{{ category }}</option>
    {% endif %} {% endfor %}
  </select>
  <button>Submit</button>
</form>
<a href="/product/{{ product._id }}">Cancel</a>
{% endblock %}
